@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 p-0 overflow-hidden;
  }
  
  #root {
    @apply h-screen w-screen;
  }
}

@layer components {
  /* Leaflet popup custom styling */
  .leaflet-popup-content-wrapper {
    @apply rounded-lg shadow-xl;
  }
  
  .leaflet-popup-content {
    @apply p-3;
  }
}